<div class="logo-Netflix">
    <a href="#">
        <img id="logo-Netflix" src="../assets/images/netflix-Logo.svg">
    </a>
</div>

<h1>Quem está Assistindo?</h1>

<div class="users">
    <figure>
        <img class="svg-usuario" src="../assets/images/usuario.svg" alt="Imagem do Usuário">
        <figcaption>Usuário 1</figcaption>
    </figure>

    <figure>
        <img class="svg-usuario" src="../assets/images/usuario-hover.svg" alt="Imagem do Usuário">
        <figcaption>Usuário 2</figcaption>
    </figure>
</div>

