<div class="footer">
    <span id="duv">Dúvidas Ligue 0800-761-4631</span>
   
    <section class="princ">
        <div id="links">
            <a href="">Perguntas frequentes</a>
            <a href="">Relação com invertidores</a>
            <a href="">Formas de assistir</a>
            <a href="">Informações corporativas</a>
            <a href="">Só na Netflix</a>
        </div>
        <div id="links">
            <a href="">Centro de ajuda</a>
            <a href="">Carreiras</a>
            <a href="">Termos de uso</a>
            <a href="">Entre em contato</a>
           
        </div>
        <div id="links">
            <a href="">Conta</a>
            <a href="">Resgatar cartão pré-pago</a>
            <a href="">Privacidade</a>
            <a href="">Teste de Velocidade</a>
           
        </div>
        <div id="links">
            <a href="">Imprensa</a>
            <a href="">Comprar cartão pré-pago</a>
            <a href="">Preferências de cookies</a>
            <a href="">Avisos legais</a>
          
        </div>
    </section>

    <span id="flix">Netflix Brasil</span>
</div>