<!-- <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ProjetoFinalModulo5</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body> -->
  <section class="principal">
      <!-- <app-root></app-root> -->
      <app-banner-component></app-banner-component>
      <app-blocks  [list] = "firstblock"></app-blocks>
      <app-blocks  [list] = "secondblock"></app-blocks>
      <app-blocks  [list] = "thirdblock"></app-blocks>
      <app-blocks  [list] = "fourthblock"></app-blocks>
      <app-footer></app-footer>
</section>

<!-- </body>
</html> -->


<!-- <app-banner-component></app-banner-component>
<app-blocks  [list] = "firstblock"></app-blocks>
<app-blocks  [list] = "secondblock"></app-blocks>
<app-blocks  [list] = "thirdblock"></app-blocks>
<app-blocks  [list] = "fourthblock"></app-blocks>
<app-footer></app-footer> -->
