/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200&display=swap');

#logo-Netflix {
    width: 165px;
    margin: 10px 40px;
}

h1 {
    font-family: 'Martel Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 90px;
    color: #E4E4E4;
    text-align: center;
}

.users {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
img:hover {
    fill: rgb(209, 255, 2);
}
figcaption {
    margin: 5px;
    text-align: center;
    color: #808080;
}

.svg-usuario {
    width: 145px;
    border-radius: 5px;
}


