<object id="logo-Netflix" data="../assets/images/netflix-Logo.svg" type="image/svg+xml"></object>

<h1>Quem está Assistindo?</h1>

<div class="users">

  <figure>
    <div class="background">
      <img class="svg-usuario" src="../assets/images/usuario.svg" type="image/svg+xml" alt="Imagem do Usuário">
    </div>
    <figcaption>Usuário 1</figcaption>
  </figure>
  
  <figure>
    <div href="#" class="background">
      <img class="svg-usuario" src="../assets/images/usuario.svg" type="image/svg+xml" alt="Imagem do Usuário">
    </div>
    <figcaption>Usuário 2</figcaption>
  </figure>

</div>
