#logo-Netflix {
    width: 165px;
    margin: 10px 40px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #E4E4E4;
    text-align: center;
}

.users {
    display: flex;
    justify-content: center;
}

figcaption {
    margin: 5px;
    text-align: center;
    color: #808080;
}

#svg-usuario {
    width: 145px;
    border-radius: 5px;
}
#svg-usuario:hover {
    
}
