<div id="container-main">
    <div id="container-top">
        <div id="logo-netflix">
    
        </div>
    </div>
    <div id="div-center">
        <app-center id="component-login"></app-center>
    </div>
    
    <div id="container-bottom">
        <div id="container-info-footer">
            <div id="div-doubt">
                    Dúvidas? Ligue 0800-761-4631
            </div>
            <div id="div-info-netflix">
                <div class="div-text-info">
                    Perguntas frequentes
                </div>
            </div>
            <div id="div-netflix" class="div-text-info">
                Netflix Brasil
            </div>
        </div>
    </div>   
</div>




