<div class="Binit">
    <img 
    id="nt"
    width="165"
    height="93"
    src="./assets/images/netflix.png" />
    <img 
    id="banner"
    width= "1440"
    height = "809"
    src="./assets/images/bannerPrincipal.png" />
    
    <div id="text">
        <h1>Filmes, séries e muito</h1>
        <h1> mais. Sem limites.</h1>
        <p id="t1">Assista onde quiser. Cancele quando quiser.</p>
        <p id="t2">Pronto para assistir? Clique no botão abaixo para ser redirecionado para a tela de login.</p>
        <input type="button" value="Entrar" id="bt">
     </div>
  </div>